.pixelBackground {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.pixelBackground .row {
  display: flex;
  width: 100%;
  height: 10vh;
}

.pixelBackground .row .block {
  width: 10vh;
  height: 100%;
  background-color: #ff6a00;
}
