.container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background-color: white; */
  overflow: hidden;
}

.body {
  /* font-size: 6vw; */
  text-align: center;
  /* font-weight: 700; */
  width: 70%;
  position: relative;
  z-index: 1;
  pointer-events: none;
  /* text-transform: uppercase; */
  mix-blend-mode: difference;
  color: white;
}

.grid {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.column {
  width: 5vw;
}

.block {
  width: 100%;
  height: 5vw;
  transition: background-color 0.3s ease;
}
