.container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.body {
  text-align: center;
  width: 70%;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: difference;
  color: white;
}

.scrollMouse {
  position: absolute;
  top: calc(50% + 280px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 30; /* 👈 keep above everything */
  pointer-events: none;
  mix-blend-mode: normal; /* 👈 disable blend mode */
}

.grid {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* add this line */
}
.column {
  width: 5vw;
}

.block {
  width: 100%;
  height: 5vw;
  transition: background-color 0.3s ease;
}
