.aboutContainer {
  margin-left: 24px;
  margin-top: 160px;
  margin-bottom: 160px;
  width: 50vw;
}

/* Tablet (≤1024px) */
@media (max-width: 1024px) {
  .aboutContainer {
    width: 75vw;
  }
}

/* Mobile (≤768px) */
@media (max-width: 768px) {
  .aboutContainer {
    width: 90vw;
  }
}
