.mouseDown {
  position: absolute; /* positions relative to parent container */
  top: calc(100vh - 60px - 45px); /* 40px above bottom of viewport, minus its own height */
  left: 50%; /* horizontally center */
  transform: translateX(-50%);
  width: 25px;
  height: 45px;
  border: 1.5px solid #272624;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  mix-blend-mode: normal;
  cursor: pointer;
  z-index: 10;
}

.mouseDown span {
  display: block;
  width: 2px;
  height: 10px;
  background: rgb(0, 0, 0);
  border-radius: 3px;
  margin: 10px auto 0;
  animation: scrollDown 1.5s infinite;
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
